In [ ]:
# Connect the google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#Import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# Read CSV as pandas data frame
import pandas as pd
df1=pd.read_csv('/content/drive/MyDrive/CompAndViz/average_price.csv')
df2=pd.read_csv('/content/drive/MyDrive/CompAndViz/median_price.csv')
df3=pd.read_csv('/content/drive/MyDrive/CompAndViz/new_houses_sold.csv')
df4=pd.read_csv('/content/drive/MyDrive/CompAndViz/mortgage.csv')

In [ ]:
import pandas as pd
df6=pd.read_csv('/content/drive/MyDrive/CompAndViz/1bhk.csv')
df7=pd.read_csv('/content/drive/MyDrive/CompAndViz/2bhk.csv')
df8=pd.read_csv('/content/drive/MyDrive/CompAndViz/3bhk.csv')

In [ ]:
df6

,RegionID,SizeRank,RegionName,RegionType,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,...,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31,2024-06-30,2024-07-31,2024-08-31,2024-09-30
0,9,0,California,state,NaN,113054.267668,113468.684085,114039.466372,115326.554115,116875.173285,...,497611.748352,497153.761838,495545.525612,495023.922325,495071.928169,495457.677887,493891.087884,492828.338352,492038.938418,492524.072462
1,54,1,Texas,state,NaN,66178.437881,66283.034494,66324.749825,66289.073092,66195.447952,...,155822.687528,155604.801460,155358.727840,155391.294576,155562.299449,155386.398991,154922.134696,154041.451502,153168.834548,152276.231154
2,14,2,Florida,state,NaN,50884.443385,50994.381355,51117.848946,51397.521873,51696.645759,...,211479.645624,211504.952335,211106.702180,210772.457123,210322.517287,209395.452939,207862.086009,206174.490331,204722.273016,203487.570588
3,43,3,New York,state,NaN,127707.533306,128302.815483,128837.761802,129922.776171,131006.381112,...,374006.549045,374288.348869,374985.007162,377395.124265,379795.275317,382230.518843,383396.194692,384781.421068,386412.011957,387897.300418
4,47,4,Pennsylvania,state,NaN,59965.154260,60108.528127,60217.570572,60453.648815,60686.448773,...,169870.049832,170306.284791,170583.255169,171233.894672,172330.905732,173382.199184,173831.915398,173797.421566,173615.852138,173511.475191
5,21,5,Illinois,state,NaN,84345.871786,84443.425887,84714.175517,85324.653341,86085.302709,...,177385.433631,177580.321171,177848.827238,178818.614380,180280.480203,181541.567927,182333.033306,182827.366549,183233.891986,183636.080509
6,44,6,Ohio,state,NaN,54324.428655,54352.779181,54418.310646,54572.970515,54793.067388,...,116964.007792,117432.801550,117970.992310,118969.637112,120157.471561,121065.249743,121675.016123,122040.657603,122411.081908,122617.751274
7,16,7,Georgia,state,NaN,83946.831124,84267.325935,84592.935428,85308.330400,86037.177192,...,231515.948974,231210.923883,230874.235563,231383.101420,232083.438836,232468.125409,231873.832463,230809.821010,230001.240873,229210.764035
8,36,8,North Carolina,state,NaN,73303.039084,73533.750917,73775.232484,74168.073551,74464.121848,...,207552.771049,207895.205759,208085.533672,208917.954622,210132.442326,211334.281794,211867.749715,211993.986268,211965.543650,211767.807942
9,30,9,Michigan,state,NaN,71592.441623,71557.818046,71702.603939,71956.531587,72371.706290,...,163623.909601,163884.694609,164400.352244,165292.551640,166488.726338,167261.210705,167698.096525,167782.172915,167948.731908,168160.807043
10,40,10,New Jersey,state,NaN,89829.610604,90185.934117,90506.476090,91179.908115,91858.256804,...,285625.580730,287078.562165,287876.363628,289319.960263,290950.754076,292585.425539,293620.961109,294804.708781,296725.439481,298839.106874
11,56,11,Virginia,state,NaN,81391.182427,81206.290530,81322.290389,81596.865259,82005.842327,...,265755.019426,266312.562037,266797.471756,268105.113528,269428.471929,270317.619021,270683.687884,271130.876290,271788.998038,272486.452507
12,59,12,Washington,state,NaN,115050.338367,115335.043793,115728.661053,116436.301222,117208.165747,...,383646.414269,383977.789650,383931.615088,384718.483442,385343.316770,385856.045371,385105.956185,384365.442256,383870.304973,384154.940033
13,8,13,Arizona,state,NaN,64205.024303,64268.871974,64363.164413,64591.588796,64906.719197,...,231163.637840,231135.652322,230867.987559,230671.351545,230703.121307,230298.053345,229393.636048,228378.731702,227664.511031,227155.807304
14,26,14,Massachusetts,state,NaN,123735.585463,124249.631913,124841.400843,126034.667592,127243.291923,...,406764.687964,408209.495046,409414.562565,411562.728294,413661.440734,415567.655725,416194.461450,416788.568143,417668.367327,418897.098665
15,53,15,Tennessee,state,NaN,69116.105780,69171.898387,69285.876480,69515.204447,69774.979695,...,251141.596132,250789.283326,250524.473866,251145.853330,251826.295717,252174.821841,251692.680071,250967.898986,250414.213243,249910.156797
16,22,16,Indiana,state,NaN,NaN,NaN,NaN,NaN,NaN,...,112363.059414,112684.583180,113294.194858,114298.806389,115416.560415,116286.736008,116981.235469,117450.520505,117919.460444,118122.608421
17,27,17,Maryland,state,NaN,79712.726298,79613.915484,79564.871371,79520.325822,79695.091711,...,215477.527462,215684.702830,215709.471284,216506.737622,217503.431546,218125.035444,217954.562476,217406.464828,216980.261535,216797.194307
18,32,18,Missouri,state,NaN,50378.018410,50515.164434,50702.389907,50990.356807,51143.249712,...,119328.332653,119573.955673,120028.014300,120721.359847,121512.782786,122033.118518,122475.775835,122616.020938,122677.856509,122449.375168
19,60,19,Wisconsin,state,NaN,66871.702082,66878.521342,66907.100783,66974.570276,67107.550243,...,170265.589355,170599.326023,171099.728312,172089.071310,173442.952568,174593.310075,175438.860378,175972.125543,176552.197913,176960.507514
20,10,20,Colorado,state,NaN,96509.021149,96906.620792,97345.443315,98316.073072,99383.219465,...,327310.521486,326914.112717,326355.207193,326153.178955,325830.459951,325013.011308,323544.774062,322283.898737,321591.927095,321385.046474
21,31,21,Minnesota,state,NaN,64902.700394,65262.157103,65603.255989,66321.352918,67075.370148,...,184312.856168,184142.272601,184040.391039,184289.380939,184670.916626,184648.613871,184319.990371,183944.059921,183998.657308,184006.150462
22,51,22,South Carolina,state,NaN,84312.562395,84627.332885,84925.772473,85706.692387,86310.585357,...,205600.586679,205668.241289,205849.129598,206332.204371,206819.267107,206925.993835,206019.356978,204782.675100,203533.006292,202460.959206
23,4,23,Alabama,state,NaN,68698.262376,68706.134892,68786.184865,68992.106103,69283.408489,...,177420.247872,177217.262689,177032.762336,177314.910203,177697.039372,177873.419981,177459.080206,176754.512534,176107.292041,175315.506289
24,25,24,Louisiana,state,NaN,81856.220777,81734.151500,81814.052361,82104.078670,82655.852023,...,129371.841567,128419.272689,127571.777297,127054.003629,127026.147478,127067.552082,126881.270283,126543.554759,125901.755506,125256.105060
25,24,25,Kentucky,state,NaN,42868.772380,42922.463852,42958.202715,43045.877306,43120.704400,...,108556.547649,109305.671612,109788.775028,110389.221319,111174.812742,112208.020869,113185.617684,114098.098186,114918.496996,115399.293969
26,46,26,Oregon,state,NaN,90062.099080,90371.343742,90548.979186,90978.387941,91277.982222,...,305786.033197,305088.160398,304209.223828,303779.965809,303554.355010,303335.543732,302621.402866,301846.000091,301036.813487,300591.885491
27,45,27,Oklahoma,state,NaN,29843.455943,29860.329768,29901.777564,29958.716971,30080.069933,...,85668.221205,86040.779362,86151.621948,86444.925245,87079.273860,87663.368477,88167.584152,88444.145081,88715.686295,88674.851307
28,11,28,Connecticut,state,NaN,72306.447839,72705.252452,72797.295694,73099.897437,73342.409322,...,190050.483775,191117.369005,191848.038976,193051.425203,194590.500325,195987.654588,196938.841072,197983.259243,199341.447469,200894.085778
29,55,30,Utah,state,NaN,111584.680653,111680.290242,111806.974618,112110.303685,112886.241778,...,335959.283130,335626.319459,334938.518786,334829.859796,334521.882903,334022.066630,332623.640082,331062.858330,329566.763287,328956.013126
30,19,31,Iowa,state,NaN,59251.444880,59150.616984,59316.047273,59518.417722,59889.547786,...,106947.795842,107213.889074,107357.925181,107788.817782,108413.000648,109061.408343,109462.921124,109529.714975,109472.989105,109359.523244
31,42,32,Nevada,state,NaN,84396.227190,84421.495964,84462.851535,84631.908240,84875.782445,...,206037.288225,206813.656292,207147.681218,207484.405409,207964.219836,208382.468976,208668.313988,209022.266378,209493.270943,209591.787643
32,6,33,Arkansas,state,NaN,46603.539568,46620.154301,46646.100334,46643.143543,46711.935739,...,131171.305493,131399.060094,131652.260978,132150.630639,132876.936836,133413.460887,133535.851863,133149.400472,132710.025305,132177.933104
33,34,34,Mississippi,state,NaN,NaN,NaN,NaN,NaN,NaN,...,108603.057314,108685.239819,108837.190158,109054.062972,109394.088691,109568.759057,109431.563806,108962.699689,108449.475191,107962.601918
34,23,35,Kansas,state,NaN,44144.288371,44255.748673,44313.493078,44403.476993,44477.332091,...,73487.606868,73643.194885,73830.736726,74508.193465,75429.036263,76372.375294,77343.487273,78110.198944,78855.605505,79248.082010
35,41,36,New Mexico,state,NaN,NaN,NaN,NaN,NaN,NaN,...,207031.163396,207015.740505,206955.362066,207931.246986,209410.955152,210535.294140,210729.834000,210424.254704,210382.431590,210456.872264
36,38,37,Nebraska,state,NaN,55094.644597,55182.075654,55352.812245,55621.302946,55890.140892,...,130597.042459,130891.571336,131271.881784,131863.438188,132584.717040,133184.497942,133587.395733,133703.284795,133638.743443,133448.257257
37,20,38,Idaho,state,NaN,83042.799774,82985.904688,83189.531220,83363.897980,83668.712745,...,323046.949747,322799.109727,323234.574431,323907.733573,324618.932568,324367.378732,323834.498161,323421.857687,323963.620878,324652.369309
38,61,39,West Virginia,state,NaN,40545.377720,40488.625682,40477.625470,40425.181172,40446.999207,...,86350.833619,86808.173833,87471.619438,88516.048249,89597.202094,90587.380750,91394.297229,92041.096282,92536.510259,92762.957580
39,18,40,Hawaii,state,NaN,110635.259252,110703.462676,110938.755667,111345.470111,112052.804487,...,470146.835297,469090.074583,467978.395642,468737.807207,469524.668410,469739.784899,467830.474768,465671.861169,464336.834697,464496.656206
40,39,41,New Hampshire,state,NaN,59592.531948,59819.769349,60028.338747,60478.841041,60888.793027,...,241592.970434,241568.107788,241596.880427,242660.575455,244511.047057,246291.710363,247447.581168,248274.986981,249647.457106,251106.305037
41,28,42,Maine,state,NaN,69068.694457,69353.736768,69589.804068,69971.119526,70224.710035,...,271668.124007,271977.026799,272120.752630,273001.277981,274301.985438,275487.801305,275723.666456,275786.078364,276516.485007,277537.283373
42,50,43,Rhode Island,state,NaN,81206.706363,81713.826493,82173.089892,83118.501109,84030.577135,...,285300.593501,286774.531555,287747.317834,289020.950881,290679.900911,292652.621267,294152.408013,295721.373446,297555.801347,299339.519634
43,35,44,Montana,state,NaN,NaN,NaN,NaN,NaN,NaN,...,296263.322721,296693.579180,297905.319777,299366.564237,301002.872942,301784.487132,302147.322928,302203.619336,303286.579770,304862.278700
44,13,45,Delaware,state,NaN,61121.879015,61016.552292,61137.572830,61497.352709,62075.949481,...,177601.128994,178492.386666,178737.892722,179388.171042,181108.576953,182568.300766,183069.360911,182863.393234,182684.062089,182792.937664
45,52,46,South Dakota,state,NaN,NaN,NaN,NaN,NaN,NaN,...,154051.590559,154349.687072,154807.686592,155546.912970,156329.476898,156679.050021,156796.156201,156669.807823,156896.674388,157347.641195
46,37,47,North Dakota,state,NaN,NaN,NaN,NaN,NaN,NaN,...,119418.683681,119588.641141,119845.220355,120366.779714,121083.903208,121640.813642,122168.818684,122354.588477,122452.154046,122493.762330
47,3,48,Alaska,state,NaN,84440.071566,83514.906519,83577.929697,82870.467517,82732.622170,...,179155.312686,178931.650410,178666.107032,178620.671076,178130.617667,177683.878489,177434.303438,176817.443783,176149.322778,175645.559212
48,12,49,District of Columbia,state,NaN,112065.641206,112646.524083,113567.168030,115455.415231,117573.518997,...,400531.706290,399239.722667,398253.072228,397761.060309,397025.891992,396261.146781,394559.665311,393296.209360,391849.893669,391795.852484
49,58,50,Vermont,state,NaN,63562.996994,63771.495660,63917.013322,64207.705507,64363.563028,...,243792.761732,243669.650487,243707.314459,244847.876075,246078.337213,247258.143539,247452.324225,247082.964463,246956.874600,246956.626094
50,62,51,Wyoming,state,NaN,NaN,NaN,NaN,NaN,NaN,...,229082.410602,228925.647423,228919.688368,229298.858178,230016.891071,230782.986405,231334.604882,231476.255577,232503.316968,233881.789929

In [ ]:
df6 = df6.drop(columns=['RegionID','SizeRank','RegionType','StateName'])
df7 = df7.drop(columns=['RegionID','SizeRank','RegionType','StateName'])
df8 = df8.drop(columns=['RegionID','SizeRank','RegionType','StateName'])

In [ ]:
# Convert from wide to long format
df_1bhk = pd.melt(df6, id_vars=['RegionName'], var_name='Date', value_name='1bhk_home_value')

print("\nLong DataFrame:")
print(df_1bhk)

Long DataFrame:
                 RegionName        Date  1bhk_home_value
0                California  2000-01-31    113054.267668
1                     Texas  2000-01-31     66178.437881
2                   Florida  2000-01-31     50884.443385
3                  New York  2000-01-31    127707.533306
4              Pennsylvania  2000-01-31     59965.154260
...                     ...         ...              ...
15142          North Dakota  2024-09-30    122493.762330
15143                Alaska  2024-09-30    175645.559212
15144  District of Columbia  2024-09-30    391795.852484
15145               Vermont  2024-09-30    246956.626094
15146               Wyoming  2024-09-30    233881.789929

[15147 rows x 3 columns]

In [ ]:
df_1bhk

                 RegionName        Date  1bhk_home_value
0                California  2000-01-31    113054.267668
1                     Texas  2000-01-31     66178.437881
2                   Florida  2000-01-31     50884.443385
3                  New York  2000-01-31    127707.533306
4              Pennsylvania  2000-01-31     59965.154260
...                     ...         ...              ...
15142          North Dakota  2024-09-30    122493.762330
15143                Alaska  2024-09-30    175645.559212
15144  District of Columbia  2024-09-30    391795.852484
15145               Vermont  2024-09-30    246956.626094
15146               Wyoming  2024-09-30    233881.789929

[15147 rows x 3 columns]

In [ ]:
df_2bhk = pd.melt(df7, id_vars=['RegionName'], var_name='Date', value_name='2bhk_home_value')

print("\nLong DataFrame:")
print(df_2bhk)

Long DataFrame:
                 RegionName        Date  2bhk_home_value
0                California  2000-01-31    146895.904666
1                     Texas  2000-01-31     65566.241204
2                   Florida  2000-01-31     76683.747074
3                  New York  2000-01-31    108136.843245
4              Pennsylvania  2000-01-31     69369.988538
...                     ...         ...              ...
15142          North Dakota  2024-09-30    188408.557877
15143                Alaska  2024-09-30    257638.717426
15144  District of Columbia  2024-09-30    586400.795754
15145               Vermont  2024-09-30    328920.955071
15146               Wyoming  2024-09-30    263490.285471

[15147 rows x 3 columns]

In [ ]:
df_3bhk = pd.melt(df8, id_vars=['RegionName'], var_name='Date', value_name='3bhk_home_value')

print("\nLong DataFrame:")
print(df_3bhk)

Long DataFrame:
                 RegionName        Date  3bhk_home_value
0                California  2000-01-31    174473.141098
1                     Texas  2000-01-31     99169.173448
2                   Florida  2000-01-31    108598.214673
3                  New York  2000-01-31    117540.628056
4              Pennsylvania  2000-01-31     91885.566041
...                     ...         ...              ...
15142          North Dakota  2024-09-30    262353.797662
15143                Alaska  2024-09-30    374022.866849
15144  District of Columbia  2024-09-30    662766.486995
15145               Vermont  2024-09-30    426076.749127
15146               Wyoming  2024-09-30    348102.734230

[15147 rows x 3 columns]

In [ ]:
df1

           DATE     ASPUS
0    1963-01-01   19300.0
1    1963-04-01   19400.0
2    1963-07-01   19200.0
3    1963-10-01   19600.0
4    1964-01-01   19600.0
..          ...       ...
241  2023-04-01  503000.0
242  2023-07-01  521900.0
243  2023-10-01  498300.0
244  2024-01-01  519700.0
245  2024-04-01  501700.0

[246 rows x 2 columns]

In [ ]:
df1.rename(columns={'ASPUS': 'avg_price'}, inplace=True)
df2.rename(columns={'MSPUS': 'median_price'}, inplace=True)
df3.rename(columns={'NHSUSSPTQ': 'new_houses_sold'}, inplace=True)
df4.rename(columns={'BOGZ1FL073165103Q': 'mortgage'}, inplace=True)

In [ ]:
df1

           DATE  avg_price
0    1963-01-01    19300.0
1    1963-04-01    19400.0
2    1963-07-01    19200.0
3    1963-10-01    19600.0
4    1964-01-01    19600.0
..          ...        ...
241  2023-04-01   503000.0
242  2023-07-01   521900.0
243  2023-10-01   498300.0
244  2024-01-01   519700.0
245  2024-04-01   501700.0

[246 rows x 2 columns]

In [ ]:
# Merge the first two DataFrames
df_merged = pd.merge(df_1bhk, df_2bhk, on=['RegionName', 'Date'], how='inner')

# Now merge the result with the third DataFrame
df_houses = pd.merge(df_merged, df_3bhk, on=['RegionName', 'Date'], how='inner')

# Print the final merged DataFrame
print("\nFinal Merged DataFrame:")
print(df_houses)

Final Merged DataFrame:
                 RegionName        Date  1bhk_home_value  2bhk_home_value  \
0                California  2000-01-31    113054.267668    146895.904666
1                     Texas  2000-01-31     66178.437881     65566.241204
2                   Florida  2000-01-31     50884.443385     76683.747074
3                  New York  2000-01-31    127707.533306    108136.843245
4              Pennsylvania  2000-01-31     59965.154260     69369.988538
...                     ...         ...              ...              ...
15142          North Dakota  2024-09-30    122493.762330    188408.557877
15143                Alaska  2024-09-30    175645.559212    257638.717426
15144  District of Columbia  2024-09-30    391795.852484    586400.795754
15145               Vermont  2024-09-30    246956.626094    328920.955071
15146               Wyoming  2024-09-30    233881.789929    263490.285471

       3bhk_home_value
0        174473.141098
1         99169.173448
2        108598.214673
3        117540.628056
4         91885.566041
...                ...
15142    262353.797662
15143    374022.866849
15144    662766.486995
15145    426076.749127
15146    348102.734230

[15147 rows x 5 columns]

In [ ]:
df_houses

,RegionName,Date,1bhk_home_value,2bhk_home_value,3bhk_home_value
0,California,2000-01-31,113054.267668,146895.904666,174473.141098
1,Texas,2000-01-31,66178.437881,65566.241204,99169.173448
2,Florida,2000-01-31,50884.443385,76683.747074,108598.214673
3,New York,2000-01-31,127707.533306,108136.843245,117540.628056
4,Pennsylvania,2000-01-31,59965.154260,69369.988538,91885.566041
...,...,...,...,...,...
15142,North Dakota,2024-09-30,122493.762330,188408.557877,262353.797662
15143,Alaska,2024-09-30,175645.559212,257638.717426,374022.866849
15144,District of Columbia,2024-09-30,391795.852484,586400.795754,662766.486995
15145,Vermont,2024-09-30,246956.626094,328920.955071,426076.749127
15146,Wyoming,2024-09-30,233881.789929,263490.285471,348102.734230

In [ ]:
df_houses.to_csv('HomeValue.csv')

In [ ]:
merged_df = df1.merge(df2, on='DATE') \
                .merge(df4, on='DATE')

print(merged_df)

           DATE  avg_price  median_price  mortgage
0    1971-01-01    27300.0       24300.0    7330.0
1    1971-04-01    28600.0       25800.0    7429.0
2    1971-07-01    28300.0       25300.0    7668.0
3    1971-10-01    28200.0       25500.0    7544.0
4    1972-01-01    29000.0       26200.0    7349.0
..          ...        ...           ...       ...
209  2023-04-01   503000.0      418500.0    6511.0
210  2023-07-01   521900.0      435400.0    7040.0
211  2023-10-01   498300.0      423200.0    7304.0
212  2024-01-01   519700.0      426800.0    6748.0
213  2024-04-01   501700.0      412300.0    6995.0

[214 rows x 4 columns]

In [ ]:
merged_df

           DATE  avg_price  median_price  mortgage
0    1971-01-01    27300.0       24300.0    7330.0
1    1971-04-01    28600.0       25800.0    7429.0
2    1971-07-01    28300.0       25300.0    7668.0
3    1971-10-01    28200.0       25500.0    7544.0
4    1972-01-01    29000.0       26200.0    7349.0
..          ...        ...           ...       ...
209  2023-04-01   503000.0      418500.0    6511.0
210  2023-07-01   521900.0      435400.0    7040.0
211  2023-10-01   498300.0      423200.0    7304.0
212  2024-01-01   519700.0      426800.0    6748.0
213  2024-04-01   501700.0      412300.0    6995.0

[214 rows x 4 columns]

In [ ]:
df9=pd.read_csv('/content/drive/MyDrive/CompAndViz/total_us_houses.csv')
df10=pd.read_csv('/content/drive/MyDrive/CompAndViz/total_houses_occupied.csv')
df11=pd.read_csv('/content/drive/MyDrive/CompAndViz/total_vacant_houses.csv')

In [ ]:
df11

          DATE  EVACANTUSQ176N
0   2000-04-01         13773.0
1   2000-07-01         13586.0
2   2000-10-01         13268.0
3   2001-01-01         13891.0
4   2001-04-01         14375.0
..         ...             ...
92  2023-04-01         15041.0
93  2023-07-01         15163.0
94  2023-10-01         14750.0
95  2024-01-01         15270.0
96  2024-04-01         15227.0

[97 rows x 2 columns]

In [ ]:
df9.rename(columns={'ETOTALUSQ176N': 'total_houses'}, inplace=True)
df10.rename(columns={'ERNTOCCUSQ176N': 'total_occupied_houses'}, inplace=True)
df11.rename(columns={'EVACANTUSQ176N': 'total_vacant_houses'}, inplace=True)

In [ ]:
inventory_df = df9.merge(df10, on='DATE') \
                .merge(df11, on='DATE')\
                .merge(df3, on='DATE')

print(inventory_df)

          DATE  total_houses  total_occupied_houses  total_vacant_houses  \
0   2002-01-01      119061.0                33707.0              14342.0
1   2002-04-01      119483.0                34119.0              14207.0
2   2002-07-01      119909.0                33813.0              14383.0
3   2002-10-01      120350.0                33572.0              14591.0
4   2003-01-01      120792.0                33917.0              14908.0
..         ...           ...                    ...                  ...
84  2023-01-01      144697.0                44119.0              15097.0
85  2023-04-01      145085.0                44300.0              15041.0
86  2023-07-01      145474.0                44346.0              15163.0
87  2023-10-01      145863.0                44953.0              14750.0
88  2024-01-01      146252.0                45002.0              15270.0

    new_houses_sold
0             239.0
1             259.0
2             255.0
3             220.0
4             256.0
..              ...
84            174.0
85            184.0
86            167.0
87            141.0
88            181.0

[89 rows x 5 columns]

In [ ]:
inventory_df

,DATE,total_houses,total_occupied_houses,total_vacant_houses,new_houses_sold
0,2002-01-01,119061.0,33707.0,14342.0,239.0
1,2002-04-01,119483.0,34119.0,14207.0,259.0
2,2002-07-01,119909.0,33813.0,14383.0,255.0
3,2002-10-01,120350.0,33572.0,14591.0,220.0
4,2003-01-01,120792.0,33917.0,14908.0,256.0
...,...,...,...,...,...
84,2023-01-01,144697.0,44119.0,15097.0,174.0
85,2023-04-01,145085.0,44300.0,15041.0,184.0
86,2023-07-01,145474.0,44346.0,15163.0,167.0
87,2023-10-01,145863.0,44953.0,14750.0,141.0
88,2024-01-01,146252.0,45002.0,15270.0,181.0

In [ ]:
merged_df.to_csv('pricing.csv')
inventory_df.to_csv('inventory.csv')